<div class="banner-area clearfix">

  <div class="single-banner right col-xs-6" id="featured-product-1">
    <a href="assets/#" class="border-hover"></a>
    <div class="single-banner-text">
      <h3><a href="assets/#">{{ this.FeaturedProducts[0].PercentOff }}% OFF<br>
                  {{ this.FeaturedProducts[0].FeaturedMsg[0] }}<br>
                  {{ this.FeaturedProducts[0].FeaturedMsg[1] }}</a></h3>
      <a href="assets/shop-full-grid.html" class="shop-button hidden-sm hidden-xs">PURCHASE</a>
    </div>
  </div>

  <div class="single-banner right col-xs-6" id="featured-product-2">
    <a href="assets/#" class="border-hover"></a>
    <div class="single-banner-text">
      <h3><a href="assets/#">{{ this.FeaturedProducts[1].PercentOff }}% OFF<br>
                  {{ this.FeaturedProducts[1].FeaturedMsg[0] }}<br>
                  {{ this.FeaturedProducts[1].FeaturedMsg[1] }}</a></h3>
      <a href="assets/shop-full-grid.html" class="shop-button hidden-sm hidden-xs">SHOP NOW</a>
    </div>
  </div>

</div>
