<div class="row top-page-header">

<div class="col-md-3">

  <div class="widget">
    <div class="widget-content bg-white">
      <div class="row">
        <div class="col-xs-6">
          <h3 class="counter font-bold font-size-38">0</h3>
        </div>
        <div class="col-xs-6">
          <p class="font-size-38">
            <span class="icon-people pull-right"></span>
          </p>
        </div>
      </div>
      <p>Users Registered</p>
      <div class="progress progress-xs">
        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="74"></div>
      </div>
    </div>
    <!--/widget-content-->
  </div>
  <!--/widget-->

</div>

<div class="col-md-3">

  <div class="widget">
    <div class="widget-content bg-white">
      <div class="row">
        <div class="col-xs-6">
          <h3 class="counter font-bold font-size-38">0</h3>
        </div>
        <div class="col-xs-6">
          <p class="font-size-38">
            <span class="icon-user-follow pull-right"></span>
          </p>
        </div>
      </div>
      <p>Subscribers Request</p>
      <div class="progress progress-xs">
        <div class="progress-bar bg-green-sea" role="progressbar" data-transitiongoal="57"></div>
      </div>
    </div>
    <!--/widget-content-->
  </div>
  <!--/widget-->


</div>

<div class="col-md-3">

  <div class="widget">
    <div class="widget-content bg-white">
      <div class="row">
        <div class="col-xs-6">
          <h3 class="counter font-bold font-size-38">0</h3>
        </div>
        <div class="col-xs-6">
          <p class="font-size-38">
            <span class="icon-book-open pull-right"></span>
          </p>
        </div>
      </div>
      <p>Orders</p>
      <div class="progress progress-xs">
        <div class="progress-bar bg-sun-flower" role="progressbar" data-transitiongoal="90"></div>
      </div>
    </div>
    <!--/widget-content-->
  </div>
  <!--/widget-->

</div>

<div class="col-md-3">

  <div class="widget">
    <div class="widget-content bg-white">
      <div class="row">
        <div class="col-xs-6">
          <h3 class="counter font-bold font-size-38">0</h3>
        </div>
        <div class="col-xs-6">
          <p class="font-size-38">
            <span class="icon-basket-loaded pull-right"></span>
          </p>
        </div>
      </div>
      <p>Sales</p>
      <div class="progress progress-xs">
        <div class="progress-bar bg-alizarin" role="progressbar" data-transitiongoal="45"></div>
      </div>
    </div>
    <!--/widget-content-->
  </div>
  <!--/widget-->

</div>


</div>
