<header class="header-area">
  <div class="header-top-area">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 hidden-xs">

        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="header-top-right">
            <div class="account-cart">
              <ul>
                <li *ngIf="this.FirebaseAuthService.ActiveUser" class="account"><a routerLink="dashboard">My Account</a></li>
                <li *ngIf="this.FirebaseAuthService.ActiveUser" class="account"><a routerLink="dashboard">Logout</a></li>
                <li *ngIf="!this.FirebaseAuthService.ActiveUser" class="login"><a routerLink="login">Login</a></li>
                <li *ngIf="!this.FirebaseAuthService.ActiveUser" class="login"><a routerLink="login">Signup</a></li>
                <li class="cart">
                  <a href="assets/cart.html">
                    <img src="assets/img/icon/cart.png" alt="cart">
                    <p>0</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-header-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <div class="logo">
            <a routerLink=""><img src="assets/img/logo/logo.png" alt="SHOPPPIE"></a>
          </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8">
          <div class="mainmenu">
            <nav>
              <ul>
                <li><a routerLink="#">Home</a></li>
                <li><a routerLink="#">Featured</a></li>
                <li *ngIf="this.FirebaseAuthService.ActiveUser"><a routerLink="#">Account</a></li>
                <li *ngIf="!this.FirebaseAuthService.ActiveUser"><a routerLink="#">Create Account</a></li>
                <li><a routerLink="#">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
