<div class="service_area clearfix">
  <div class="single-service">
    <div class="service-icon">
      <img src="assets/img/icon/s2.png" alt="">
    </div>
    <div class="service-info">
      <h2>Prices</h2>
      <p>Buy at wholesale cost</p>
    </div>
  </div>
  <div class="single-service hidden-sm">
    <div class="service-icon">
      <img src="assets/img/icon/s3.png" alt="">
    </div>
    <div class="service-info">
      <h2>Secure</h2>
      <p>Enjoy safe shopping</p>
    </div>
  </div>
  <div class="single-service">
    <div class="service-icon">
      <img src="assets/img/icon/s1.png" alt="">
    </div>
    <div class="service-info">
      <h2>Delivery</h2>
      <p>Fast and reliable process</p>
    </div>
  </div>
  <div class="single-service hidden-sm hidden-md">
    <div class="service-icon">
      <img src="assets/img/icon/s4.png" alt="">
    </div>
    <div class="service-info">
      <h2>Support</h2>
      <p>Call or send ticket</p>
    </div>
  </div>
</div>
