<div class="newsletter-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-title">
          <h2>EXCLUSIVE OFFERS</h2>
        </div>
        <div class="newsletter-box text-center">
          <form action="#">
            <input type="text" placeholder="Type your E-mail address">
            <button type="submit">GET DEALS</button>
          </form>
          <div class="subscribing">
            <label class="checkbox-title">
              Subscribe to our newsletter to get updates about our latest deals and promotions!
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
