<div class="nivo_text" id="homepage-banner-wrapper">
  <div class="slider-content slider-text-1">
    <div class="wow zoomInUp" data-wow-delay="0.3s">
      <h3>Today's Deal</h3>
    </div>
  </div>
  <div class="slider-content slider-text-2">
    <div class="wow zoomInUp" data-wow-delay=".2s">
      <h2 class="title">{{ this.ProductName }}</h2>
    </div>
  </div>
  <div class="slider-content slider-text-4">
    <div class="wow zoomInUp" data-wow-delay=".3s">
      <h3 class="title ti7">{{ this.BannerCaption }}</h3>
    </div>
  </div>
  <div class="slider-content slider-text-3">
    <div class="wow zoomInUp" data-wow-delay=".4s">
      <a routerLink="item" class='slider-button'>Buy Now</a>
      <a routerLink="item" class='slider-button'>Read More</a>
    </div>
  </div>
</div>
