<div class="slider-wrap">
  <div class="preview-2">
    <div id="nivoslider" class="slides">
      <img src="assets/img/slider/20.png" alt="" title="#slider-direction-1" />
      <img src="assets/img/slider/30.png" alt="" title="#slider-direction-2" />
    </div>
    <!-- direction 1 -->
    <div id="slider-direction-1" class="t-cn slider-direction">
      <div class="nivo_text">
        <div class="slider-content slider-text-1">
          <div class="wow zoomInUp" data-wow-delay="0.3s">
            <h3>Shopppie shop</h3>
          </div>
        </div>
        <div class="slider-content slider-text-2">
          <div class="wow zoomInUp" data-wow-delay=".2s">
            <h2 class="title">New Season heroes</h2>
          </div>
        </div>
        <div class="slider-content slider-text-4">
          <div class="wow zoomInUp" data-wow-delay=".3s">
            <h3 class="title ti7">East Meets West in CWST’s Fall Winter 2015 Lookbook</h3>
          </div>
        </div>
        <div class="slider-content slider-text-3">
          <div class="wow zoomInUp" data-wow-delay=".4s">
            <a href='shop-full-grid.html' class='slider-button'>Shop Now</a>
          </div>
        </div>
      </div>
    </div>
    <!-- direction 2 -->
    <div id="slider-direction-2" class="slider-direction">
      <div class="nivo_text">
        <div class="slider-content slider-text-1">
          <div class="wow zoomInUp" data-wow-delay="0.3s">
            <h3>Shopppie shop</h3>
          </div>
        </div>
        <div class="slider-content slider-text-2">
          <div class="wow zoomInUp" data-wow-delay=".2s">
            <h2 class="title">New Season heroes</h2>
          </div>
        </div>
        <div class="slider-content slider-text-4">
          <div class="wow zoomInUp" data-wow-delay=".3s">
            <h3 class="title ti7">East Meets West in CWST’s Fall Winter 2015 Lookbook</h3>
          </div>
        </div>
        <div class="slider-content slider-text-3">
          <div class="wow zoomInUp" data-wow-delay=".4s">
            <a href='shop-full-grid.html' class='slider-button'>Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
