<!--Start Product Details area  -->
<div class="product-details-area fullwidth">
  <div class="container">
    <div class="row">
      <br /><br />
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="zoomWrapper clearfix">
          <div class="product-thumb">
            <ul class="p-details-slider" id="gallery_01">
              <li>
                <a class="elevatezoom-gallery" href="#" data-image="assets/img/products/candles.jpg" data-zoom-image="assets/img/products/candles.jpg">
<img src="assets/img/products/candles.jpg" alt=""></a>
              </li>
              <li>
                <a class="elevatezoom-gallery" href="#" data-image="assets/img/products/candles2.jpg" data-zoom-image="assets/img/products/candles2.jpg">
<img src="assets/img/products/candles2.jpg" alt=""></a>
              </li>
            </ul>
          </div>
          <div id="img-1" class="zoomWrapper single-zoom">
            <a href="#">
<img id="zoom1" src="assets/img/products/candles.jpg" data-zoom-image="assets/img/products/candles.jpg" alt="">
</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="product-detail shop-product-text">
          <h4><a href="#">Scented Candles</a></h4>
          <div class="price-rating-container">
            <div class="price-box"><span>$5.99</span> <del>($15.99)</del></div>
          </div>
          <div class="availability">AVAILABILITY: <span> In stock</span></div>
          <h5 class="overview">Overview:</h5>
          <p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor indunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
          <div class="color">
            <h5 class="color">Smell:</h5>
            <select class="dropdown-item dropdown" name="category">
              <option>VANILLA</option>
              <option>CHOCOLATE</option>
              <option>LAVENDAR</option>
            </select>
          </div>
          <br />
          <div class="shop-buttons">
            <h5 class="quantity">Quantity:</h5>
            <input type="number" id="quantity" value="1">
            <a href="cart.html" class="cart-btn"><span>Add To Cart</span></a>
          </div>
          <div class="share">
            <h5 class="share">share this on:</h5>
            <ul>
              <li><a href="www.facebook.com"><i class="fa fa-facebook"></i></a></li>
              <li><a href="www.twitter.com"><i class="fa fa-twitter"></i></a></li>
              <li><a href="www.instagram.com"><i class="fa fa-instagram"></i></a></li>
              <li><a href="www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
