div#product-form input {
  color: #000;
}

a#remove-photo {
  margin-top: 15px;
}

img#image-preview {
  max-width: 75%;
}

div.image-preview {
  height: 150px;
  padding-top: 150px;
  box-sizing: border-box;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
