<div class="c_panel" style="margin-top: 50px;">

  <div class="c_title bg-wet-asphalt padding-top-20 padding-bottom-20">
    <h2>
      <strong>New Product</strong>
    </h2>
    <div class="clearfix"></div>
  </div>
  <!--/.c_title-->

  <div class="c_content">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Title *</label>
          <input type="text" class="form-control" placeholder="Scented Candles" [(ngModel)]="item.title">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Stock *</label>
          <input type="number" class="form-control" placeholder="100" [(ngModel)]="item.stock">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Price *</label>
          <input type="number" class="form-control" placeholder="8.99" [(ngModel)]="item.price">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">ID</label>
          <input type="text" class="form-control" placeholder="ID12345" [(ngModel)]="item.id">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row" style="padding-left: 25px;">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="label-name" [(ngModel)]="item.featured"> Featured
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="label-name" [(ngModel)]="item.front"> Front Page
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="label-name" [(ngModel)]="item.email"> Email Blast
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="label-name" [(ngModel)]="item.sale"> On Sale (50% Off)
            </label>
          </div>
        </div>
        <br />
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Image *</label>
          <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-preview fileupload-exists thumbnail" id="base64" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
            <div>
              <input type="file" id="image-upload" style="display: inline-block;" [(ngModel)]="image">
              <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">
                <i class="fa fa-trash"></i> Remove</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label">Description *</label>
          <textarea class="form-control autosize-animated" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 54px;"
            [(ngModel)]="item.description"></textarea>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-wet-asphalt btn-flat" (click)="add()">Add To Site</button>
    </div>
  </div>
  <!--/.c_content-->

</div>
