<div class="row">

  <div class="col-md-12">

    <div class="widget">
      <div class="widget-header bg-white">
        <h3 class="fg-gray">Last 30 Days</h3>
      </div>
      <div class="widget-content bg-white">

        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div>
              <div class="top-profiles-wrapper">

                <ul class="list-unstyled top_profiles">
                  <li class="media event">

                    <div class="pull-left thumbnail-hover margin-left-28">
                      <div class="overflow-hidden">
                        <img src="../../assets/images/users/img3.jpg" width="80" alt="image" />
                      </div>
                    </div>
                    <div class="media-body">
                      <a class="title" href="#">John Smith</a>
                      <p>
                        <strong>$120.00 </strong>
                      </p>
                      <p>1/1/18</p>
                      <p>
                        <small>3 Items</small>
                      </p>
                    </div>
                  </li>

                </ul>

              </div>
              <!--/.top-profiles-wrapper-->

            </div>
          </div>
          <!--/.col-md-4-->

        </div>
        <!--/row-->

      </div>
      <!--/widget-content-->
    </div>
    <!--/widget-->

  </div>
  <!--/.col-md-12-->
</div>
