<div class="featured-area clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-title">
          <h2>LAST CHANCE</h2>
        </div>
      </div>
    </div>

    <div class="row">

      <div *ngFor="let Product of this.LastChanceProducts; let i = index;" class="col-xs-12 col-md-4 col-width product-container">
        <div class="single-product">
          <div class="single-product-item" id="product-image-{{i}}">
            <div class="single-product-img clearfix hover-effect">
              <h1 class="product-title">{{ this.Product.Title }}</h1>
              <h1 class="price-tag">${{ this.Product.Price }}</h1>
            </div>
            <div class="product-action">
              <ul>
                <li><a routerLink="item">Read More</a></li>
                <li><a routerLink="item">Add To Cart</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
