<div class="latest-blog-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-title">
          <h2>latest news</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="latest-blog-slider">
        <div class="col-md-6 col-xs-12">
          <div class="single-latest-blog">
            <div class="single-latest-blog-img">
              <a href="assets/blog-details.html">
                                      <img src="assets/img/blog/1.jpg" alt="">
                                  </a>
            </div>
            <div class="single-latest-blog-text">
              <div class="date-comment clearfix">
                <h4>Art, Business</h4>
                <h5>Jan 18, 2016 - Comments 5</h5>
              </div>
              <div class="blog-content">
                <h4><a href="assets/blog-details.html">Lorem Ipsum Dammy Title</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodte porincidi ut labore et dolore magna aliqua. </p>
              </div>
              <div class="continue-reading">
                <a href="assets/blog-details.html">Continue Reading</a>
                <div class="blog-icon">
                  <ul>
                    <li><a href="assets/#"><i class="fa fa-share-alt"></i></a></li>
                    <li><a href="assets/#"><i class="fa fa-heart-o"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="single-latest-blog">
            <div class="single-latest-blog-img">
              <a href="assets/blog-details.html">
                                      <img src="assets/img/blog/2.jpg" alt="">
                                  </a>
            </div>
            <div class="single-latest-blog-text">
              <div class="date-comment clearfix">
                <h4>Art, Business</h4>
                <h5>Jan 18, 2016 - Comments 5</h5>
              </div>
              <div class="blog-content">
                <h4><a href="assets/blog-details.html">Lorem Ipsum Dammy Title</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodte porincidi ut labore et dolore magna aliqua. </p>
              </div>
              <div class="continue-reading">
                <a href="assets/blog-details.html">Continue Reading</a>
                <div class="blog-icon">
                  <ul>
                    <li><a href="assets/#"><i class="fa fa-share-alt"></i></a></li>
                    <li><a href="assets/#"><i class="fa fa-heart-o"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
